<!doctype html>
<html lang="ru">
<head>


    <meta charset="utf-8">
    <title>Холодильник</title>
</head>
<body>
    <h1>мой холодильник</h1>

    <form method="post">
        <input type="text" name="name" placeholder="Название продукта" required>
        <input type="number" name="kkal" placeholder="Ккал(число)" required>
        <input type="number" name="date" placeholder="Срок годности (дней)" required>
        <button type="submit">Добавить</button>
    </form>

    <hr>

    {% for product in products %}
        <div>
            <p><b>{{ loop.index }}.</b> {{ product.name }}</p>
            <p>Ккал: {{ product.kkal }} | Срок: {{ product.date }} дней</p>
            
            <a href="{{ url_for('delete_product', product_id=product.id) }}">Удалить</a>
            <hr>
        </div>
    {% else %}
        <p>Продуктов пока нет</p>
    {% endfor %}

    <a href="{{ url_for('index') }}">На главную</a>
</body>
</html>